<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>toDoList project</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <p class="main__titleText">todos</p>
        <input class="main__input" type="text" placeholder="Enter your todo">
        <div class="main__toDoBox">
            <ul class="main__toDoList"></ul>
        </div>
        <p class="main__howToUseText main__howToUseText--top">to add a new task press enter</p>
        <p class="main__howToUseText main__howToUseText--bottom">click on mouse to remove or done a task</p>
        <p class="main__alert">you already have this item in your list !</p>
    </div>
    <script type="text/javascript" src="script.js"></script>
</body>
</html>